.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #87c7cc;

    .logo {
        color: white;
    }

    .social-wrapper {
        display: flex;

        .icon-wrapper {
            background-color: white;
            padding: 10px;
            border-radius: 40px;
            margin: 0px 10px;
    
            .icon-medsos {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }
    }

}

.copyright {
    background-color: #5fb6bd;
    padding: 10px 0px;

    p {
        font-size: 14px;
        color: white;
        margin: 0px;
        margin-left: 20px;
    }
}